

  <!--
  #########################################
  -->
  <section class="section section-icons center grey lighten-2 all_radius">
  <span>
    <div class="row">
        <div class="col s12 m4">
          <div>
            <i class="material-icons large white-text ">favorite</i>
            <h5>Favorite</h5>
            <p> Lorem ipsum dolor sit amet elit.</p>
          </div>
        </div>
        
        <div class="col s12 m4">
          <div>
            <i class="material-icons large white-text">language</i>
            <h5>PartyGaming</h5>
            <p>Parent company founded 1997 as a network.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div>
            <i class="material-icons large white-text">people</i>
            <h5>Key People</h5>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
          </div>
        </div> 
    </div>
  </span>

 <!--
  #########################################
-->
</section>
  <section class="section section-icons center">
  <span>
    <div class="row">
        <div class="col s12 m9 l10">
          <div>
            <i class="material-icons large {{ page.textcolor }} ">favorite</i>
            <h5>Favorite</h5>
            <p> Lorem ipsum dolor sit amet elit.</p>
          </div>
        </div>
        

        <div class="col s12 m3 l2 grey lighten-2 all_radius">
          <div>
            <h5 style="padding: 6px; text-transform: uppercase; font-size: 1.0em;">10 Best Casinos</h6>
            <hr class="white-text">
                <i class="material-icons large {{ page.textcolor }} ">favorite</i>
            <p>list all casinos</p>
          </div>
        </div> 
    </div>
  </span>
</section>

 <!--
  #########################################
-->

<div class="container">
  <ul class="collapsible popout">
    <li class="active">
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>

</div>


  <!--
  #########################################
  
  
  
  
  
    <section class="section section-icons center grey lighten-2 all_radius">
  <span>
    <div class="row">
        <div class="col s12 m4">
          <div>
            <i class="material-icons large white-text ">favorite</i>
            <h5>Favorite</h5>
            <p> Lorem ipsum dolor sit amet elit.</p>
          </div>
        </div>
        
        <div class="col s12 m4">
          <div>
            <i class="material-icons large white-text">language</i>
            <h5>PartyGaming</h5>
            <p>Parent company founded 1997 as a network.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div>
            <i class="material-icons large white-text">people</i>
            <h5>Key People</h5>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
          </div>
        </div> 
    </div>
  </span>

</section>
  
  
  
  
  -->