

  <div class="warn_card red white-text">
    <div class="container" style="padding: 1.4em;">{{ page.casino_name | upcase }} is CLOSED and longer operating. See recommended casinos below or click for a full list of recommended casinos.</div>
    </div>

  <div class="alternatives">
    
    <div class="card grey lighten-2" style="margin: 0px 0px 0px 0px;">
  <section class="section center container">
  <span>
    <div class="row">
      <h4>Recommended 3 Best Casinos</h4>
    </div>
    <div class="row">

{% assign mid = site.reviews | sort: 'score' %}
{% assign sorted = mid | reverse %}
{% for review in sorted limit:3 %}

<div class="col s12 m4">

  <span class="chiplarge white grey-text lighten-1" style="position: relative; top: 2rem; left: -.1rem; font-size: larger; z-index: 6;">
    {% assign po = forloop.index %}
    
    {% case po %}
      {% when 1 %}{{po}}st
      {% when 2 %}{{po}}nd
      {% when 3 %}{{po}}rd
      {% else %}{{po}}th
    {% endcase %}
    </span>

  <div style="margin: .5rem;">
    <div class="card all_radius" style="padding: 1.9rem;">




    <a href="{{ review.permalink }}" target="_blank" rel="nofollow"><img class="circle responsive-img casino-logo" src="/assets/images/logos/{{review.logo}}" alt="{{ casino_name }}"></a>
    <h3>{{ review.casino_name }}</h3>
    <p> {{ review.primary_bonus }} {{ review.secondary_bonus | truncate: 28, '...' }}</p>

      <h6> {{review.score}}/1000</h6>
  
      <a href="{{ review.aff_link }}" class="waves-effect waves-light btn white-text" style="width: 80%;">Claim Bonus</a>
  </div>
  
  </div>
</div>

{% endfor %}


    </div>
  </span>

  </section>
</div>
</div>
 
