


                <p class=" {{ page.textcolor }}">
                  {{ page.textcolor }}
                </p>
              
                <div class="container {{ page.textcolor }} ">
                
                <h1 class="center"> First Heading.</h1>
            <section class="section section-icons center white">
  <span class="container">
    <div class="row">
        <div class="col s12 m4">
          <div>
            <i class="material-icons large {{ page.textcolor }} ">favorite</i>
            <h5>Favorite</h5>
            <p> Lorem ipsum dolor sit amet elit.</p>
          </div>
        </div>
        
        <div class="col s12 m4">
          <div>
            <i class="material-icons large {{ page.textcolor }}">language</i>
            <h5>PartyGaming</h5>
            <p>Parent company founded 1997 as a network.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div>
            <i class="material-icons large {{ page.textcolor }}">people</i>
            <h5>Key People</h5>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
          </div>
        </div> 
    </div>
  </span>
</section>

<h5 class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
</div>


