



    
    <div class="card all_radius" style="width: 100%;">

        <div class="card-title valign-wrapper review-heading">
         <i class="fas fa-info-circle green-text left" style="margin-bottom: 5px;"></i><h7>{{ page.casino_name }} information</h7>  
        </div>
  
  
  
        <div class="review-body bottom_radius">
  
  
        <div class="list tably" style="text-align: left; color: #7a7f85; margin-top: 5px;">
        {% include review-table.html %}
      </div>
  
  
  
      
    
  
     <h2>Bonus Heaven</h2>
     <p> 
     On the other hand, it’s not always easy to find the newest online casinos that suit your taste. However, you needn’t worry, for the Flashbitch team is on the lookout for the top new online casinos. And what’s more, not only do we find new places for you to play your favourite slots at, but also ensure you get all great deals such as sign up bonuses, free play, welcome bonuses, no deposit bonuses, contests and tournaments as soon as you register for an account. We often go an extra mile and manage to negotiate an exclusive match deposit bonus just for you guys.
      </p>
     
      <!--  start expander -->
    <div class="top10__all">
     <a href="#review" data-target="collapse-content1" data-text-more="" class="read-more"> <h7> read full review </h7> </a>
     </div>
  
      <!--  end expander -->
    
  
     <a name="review" ></a>
      <div data-collapse="collapse-content1"  data-text-close="Close review">
        
       
        {{ content | markdownify }}
      </div>
    </div>
  </div>