                 <ul class="col card all_radius valign-wrapper">
                          {% if page.twitter %}
                          <a class="social_icons" href="http://twitter.com/{{page.twitter}}"><i class="social_icons fab twitter fa-twitter-square fa-sm"></i></a>
                            {% endif %}
                            {% if page.instagram %}
                        <a class="social_icons" href="http://instagram.com/{{page.instagram}}"><i class="social_icons fab instagram fa-instagram fa-sm"></a></i>
                            {% endif %}
                            {% if page.facebook %}
                          <a class="social_icons" href="http://facebook.com/{{page.facebook}}"><i class="social_icons fab facebook fa-facebook fa-sm"></i></a>
                            {% endif %}
                            {% if page.skype %}
                          <a class="social_icons" href="http://skype.com/{{page.skype}}"><i class="social_icons fab skype fa-skype fa-sm"></i></a>
                            {% endif %}
                            {% if page.linkedin %}
                          <a class="social_icons" href="http://linkedin.com/{{page.linkedin}}"><i class="social_icons fab linkedin fa-linkedin fa-sm"></i></a>
                            {% endif %}
                            {% if page.youtube %}
                          <a class="social_icons" href="http://youtube.com/{{page.youtube}}"><i class="social_icons fab youtube fa-youtube fa-sm"></i></a>
                          {% endif %}
                      </li>
                    </ul>

