            <!-- start of pink label-->
            <div>
                <div class="pink-text">
                    <div class="row">
                        <div class="col s6 m6 l6" style="padding: 10px;">
                            <ul class="collection all_radius">
                                <li class="collection-item top_text active">Withdrawal Limit</li>
                                <li class="collection-item fat_text">{{ page.withdrawal_limit | truncate: 25, "..."}}</li>
                            </ul>
                        </div>
                        <div class="col s6 m6 l6" style="padding: 10px;">
                            <ul class="collection all_radius">
                                <li class="collection-item top_text active">Credit / Debit Payout</li>
                                <li class="collection-item fat_text">{{ page.credit_debit_cards | truncate: 25, "..." }}</li>
                            </ul>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col s6 m6 l6" style="padding: 10px;">
                            <ul class="collection all_radius">
                                <li class="collection-item top_text active">Bank Transfers Payout</li>
                                <li class="collection-item fat_text">{{ page.bank_transfers | truncate: 25, "..." }}</li>
                            </ul>
                        </div>
                        <div class="col s6 m6 l6" style="padding: 10px;">
                            <ul class="collection all_radius">
                                <li class="collection-item top_text active"># of Games</li>
                                <li class="collection-item fat_text">{{ page.software_ | truncate: 25, "..." }} slots</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 m6 l6" style="padding: 10px;">
                            <ul class="collection all_radius">
                                <li class="collection-item top_text active">Deposit Methods</li>
                                <li class="collection-item fat_text">{{ page.deposit_methods_ | truncate: 25, "..." }}</li>
                            </ul>
                        </div>
                        <div class="col s6 m6 l6" style="padding: 10px;">
                            <ul class="collection all_radius">
                                <li class="collection-item top_text active">Withdrawal Methods</li>
                                <li class="collection-item fat_text">{{ page.withdrawal_methods_ | truncate: 25, "..." }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end of pink label-->