
         <table>
           <tbody>
             {% if page.withdrawal_limit %} 
               <tr></tr>
                 <th>Transfer Limit</th>
                 <td> {{ page.withdrawal_limit }} </td>
               </tr>
               {% endif %}
   
               {% if page.credit_debit_cards %} 
               <tr>
                 <th>Credit / Debit</th>
                 <td> {{ page.credit_debit_cards }}</td>
               </tr>
               {% endif %}
               
               {% if page.ewallets %} 
               <tr>
                 <th>E-Wallets</th>
                 <td> {{ page.ewallets }}</td>
               </tr>
               {% endif %}

               {% if page.bank_transfers %} 
               <tr>
                 <th>Bank Transfers</th>
                 <td> {{ page.bank_transfers }} </td>
               </tr>
               {% endif %}

               {% if page.cheques %} 
               <tr>
                 <th>Cheques</th>
                 <td> {{ page.cheques }} </td>
               </tr>
               {% endif %}

               {% if page.deposit_methods %} 
               <tr>
                 <th>Deposits</th>
                 <td> {% capture tagscommas %}
                   {% for tag in page.deposit_methods %}
                       {{tag}}{% unless forloop.last %}, {% endunless %}
                   {% endfor %}
                   {% endcapture %}
                   {{tagscommas}} </td>
               </tr>
               {% endif %}
               
               {% if page.withdrawal_methods %} 
               <tr>
                 <th>Withdrawals</th>
                 <td> {% capture tagscommas %}
                   {% for tag in page.withdrawal_methods %}
                       {{tag}}{% unless forloop.last %}, {% endunless %}
                   {% endfor %}
                   {% endcapture %}
                   {{tagscommas}} </td>
               </tr>
               {% endif %}

             </tbody>
           </table>
           
  
           

  
  
  