
        <section>


            <div class="center-align">
                <!-- games chips -->
                <div class="row container"> 
                    <div class="card all_radius" style="margin: 5px;">
                        <div class="container">
                            <div class="row grey-text">
                                <div class="bars col s9 m9 l9 left-align black-text">languages</div>
                                <div class="bars col s2 m2 l2 right-align black-text">100%</div>
                            </div>
                            <div class="progress" style="margin: 0px !important;">
                                <div class="determinate green" style="width: 90%; margin: 0 !important;"></div>
                            </div>
                            <div>
                                <ul class="collection hide-on-small-only" style="bottom: 5px;">
                                    {% for language in page.languages %}
                                        <li class="collection-item chip grey lighten-2 white-text"> {{ language }} </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- games chips -->

                    <div class="card all_radius" style="margin: 5px;">
                        <div class="container">
                            <div class="row grey-text">
                                <div class="bars col s9 m9 l9 left-align black-text">Ways to Deposit</div>
                                <div class="bars col s2 m2 l2 right-align black-text">100%</div>
                            </div>
                            <div class="progress" style="margin: 0px !important;">
                                <div class="determinate green" style="width: 90%; margin: 0 !important;"></div>
                            </div>
                            <div>
                                <ul class="collection hide-on-small-only" style="bottom: 5px;">
                                    {% for deposit in page.deposit_methods %}
                                        <li class="collection-item chip grey lighten-2 white-text"> {{ deposit }} </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>


                    <!-- games chips -->

                    <div class="card all_radius" style="margin: 5px;">
                        <div class="container">
                            <div class="row grey-text">
                                <div class="bars col s9 m9 l9  left-align black-text">Licences Held</div>
                                <div class="bars col s2 m2 l2 right-align black-text">100%</div>
                            </div>
                            <div class="progress" style="margin: 0px !important;">
                                <div class="determinate green" style="width: 90%; margin: 0 !important;"></div>
                            </div>
                            <div>
                                <ul class="collection hide-on-small-only" style="bottom: 5px;">
                                    {% for lic in page.licences %}
                                        <li class="collection-item chip grey lighten-2 white-text"> {{ lic }} </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>


                    <!-- games chips -->


                    <div class="card all_radius" style="margin: 5px;">
                        <div class="container">
                            <div class="row grey-text">
                                <div class="bars col s9 m9 l9  left-align black-text">Casino Software</div>
                                <div class="bars col s2 m2 l2 right-align black-text">100%</div>
                            </div>
                            <div class="progress" style="margin: 0px !important;">
                                <div class="determinate green" style="width: 90%; margin: 0 !important;"></div>
                            </div>
                            <div>
                                <ul class="collection hide-on-small-only" style="bottom: 5px; 0 !important;">
                                    {% for software in page.games_by %}
                                        <li class="collection-item chip grey lighten-2 white-text"> {{ software }} </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end score bars -->
            </div>
        </section>