

      <div class="dark slider">
      
      <ul class="slides">
        <li>
          <img src="{{ site.baseurl }}/assets/images/banner1.jpg"> <!-- random image -->
          <div class="caption right-align">
            <h1>Hot to Drop<h1>
            <h3 class="light grey-text text-lighten-3">Play the hottest online slots at trusted casinos</h3>
          </div>
        </li>

        <li>
          <img src="{{ site.baseurl }}/assets/images/banner3.jpg"> <!-- random image -->
          <div class="caption left-align">
            <h1>Get Bonuses</h1>
            <h3 class="light grey-text text-lighten-3">Find $$$ in bonuses, free spins & promotions</h3>
          </div> 
        </li>

        <li>
          <img src="{{ site.baseurl }}/assets/images/banner2.jpg"> <!-- random image -->
          <div class="caption right-align">
            <h1>Huge Choice</h1>
            <h3 class="light grey-text text-lighten-3">Classic three-wheel, multi-line, video, progressives</h3>
          </div>
        </li>
       
      </ul>
      
      </div>

    <!-- section slider ends -->



    
